<%= stylesheet_link_tag "UserProfileEdit" %>
<script >
  function checkpassword(){
    const valid = document.getElementById('passwordfield').value.length > 0
    if (valid){
      document.getElementById('submit').disabled = false;
    }else{
      document.getElementById('submit').disabled = true;
    }
  }
  
</script>
<div id="UserProfileOverview">
<h2 id="title">Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="attributes">
    <div class = "properties">
      <div class="field">
        <div class="interactive">
          <%= f.label :"Username:" %>
          <% if @account_params then %>
            <%= f.text_field :username, autofocus: true, value: @account_params[:username] %>
          <%else%>
            <%= f.text_field :username, autofocus: true, value: @user.username %>
          <%end%>  
        </div>
      </div>
      <div class="field">
        <div class="interactive">
          <%= f.label :"email:" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <div class="interactive">
          <%= f.label :"current_password:" %> 
          <!-- if we submitted an incorrect form, the already filled in fields should stay filled-->
          <% if @account_params then %>
            <%= f.password_field :current_password, autocomplete: "current-password", id:"passwordfield", value: @account_params[:current_password], onKeyup:"checkpassword()" %>
          <%else%>
            <%= f.password_field :current_password, autocomplete: "current-password", id:"passwordfield", onKeyup:"checkpassword()" %>
          <%end%>
        </div>
        <i class="info"> (we need your current password to confirm your changes)</i>
      </div>
      <div id="passwordEdit">
        <div class="field">
          <div class="interactive">
            <%= f.label :"password:" %> 
            <%= f.password_field :password, autocomplete: "new-password",id:"newpssword" %>
          </div>
          <div class="info">
            <i> (leave blank if you don't want to change it)  </i>
          <% if @minimum_password_length %>
           <em> (<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          </div>
        </div>

        <div class="field" id="confirmation">
          <div class="interactive">
            <%= f.label :"password_confirmation:" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
      </div>
      </div>
          <div id ="prof_pic">
        <label for="user_profile_picture">
          <% if @account_params then %>
            <%= image_tag(@account_params[:profile_picture], id:"editProfPicImg") %>
          <% elsif current_user.profile_picture.attached? %>
            <%= image_tag(current_user.profile_picture, id:"editProfPicImg") %>
          <% else %>
            <%= image_tag("/assets/empty-profile-picture.png", id:"editProfPicImg") %>
          <% end %>
          
        </label>
        <%= f.file_field  :profile_picture %>
      </div>
  </div>
  <div class="actions">
    <button type="button" class="editbutton" onclick="dialog.showModal()" disabled="disabled" id="submit">Update profile</button>
  </div>
<dialog id="EditConfirmation">
  <strong>Are you sure?</strong> <br><br>
  <div id="options">
  <button type="button" class="dialogeditbutton" onclick="dialog.close()">Cancel</button>
  <%= f.submit "Confirm",class:"dialogeditbutton" %>
  </div>
</dialog>
<% end %>

<script>
  const user_profile_picture = document.getElementById('user_profile_picture')
  const dialog = document.getElementById('EditConfirmation')
  user_profile_picture.addEventListener("change", () => {
      if (user_profile_picture.files.length == 1) {
      document.getElementById('editProfPicImg').src = URL.createObjectURL(user_profile_picture.files[0])
    }
  }

  )


</script>
<div id="cancel"> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<div id="return"><button onclick="history.back()">Back</button></div>
</div>

