<h1>Edit Your Comment</h1>

<%= form_with model: [@secret, @comment], local: true do |form| %>
  <div>
    <%= form.label :content, t('.your-comment') %>
    <%= form.text_area :content, rows: 3 %>
  </div>
  <div>
    <%= form.submit t('.update-comment') %>
  </div>
<% end %>

<%= link_to t('.back-to-secret'), @secret %>
