<!-- copied from devise/registrations/view for testing -->
<%= stylesheet_link_tag "UserProfile" %>
<%= stylesheet_link_tag "UserProfileView" %>
<div id="UserProfileOverview">
<h2 id="title">Profile</h2>
<div class="property">
      <label>Username:</label>
      <div class = "field">
          <%= @user.username%>
      </div>
  </div>
  <div class="property">
      <label>Email:</label>
      <div class = "field">
          <%= @user.email%>
      </div>
  </div>
  <div class="property">
      <label >Number of secrets found:</label>
      <div class="field_number"><%= @user.secrets.count %></div>
  </div>

  <div class="property">
    <label >Number of followers:</label>
    <div class="field_number"><%= @user.followers.count %></div>
    <label >Number of followees:</label>
    <div class="field_number"><%= @user.followees.count %></div>
  </div>

  <% if @user == current_user %>
    <%= button_to "Edit profile", edit_user_registration_path, method: :get, id:"editButton" %>
  <% elsif current_user %>
    <%= render 'users/follow_button', user: @user %>
  <% end %>
  <div id="return"><button onclick="history.back()">Back</button></div>
</div>


<h2>Secrets Posted:</h2>

<% if @secrets.any? %>
  <div class="secrets-list">
    <% @secrets.each do |secret| %>
      <div id="<%= dom_id(secret) %>" style="border-style:solid; margin-bottom: 10px; padding: 10px;">
        <p>
          <strong><%= t('global.user') %></strong>
          <%= secret.user.username %>
        </p>

        <p>
          <strong><%= t('global.name') %></strong>
          <%= link_to secret.name, secret_path(secret) %>
        </p>

        <%= link_to image_tag(secret.image_as_thumbnail), secret.image if secret.image.attached? %>

        <p>
          <strong><%= t('global.body') %></strong>
          <%= secret.body %>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>This user hasn't posted any secrets yet.</p>
<% end %>

<h2>Comments Made:</h2>

<% if @comments.any? %>
  <div class="comments-list">
    <% @comments.each do |comment| %>
      <div id="<%= dom_id(comment) %>" style="border-style:solid; margin-bottom: 10px; padding: 10px;">
        <p>
          <strong><%= t('global.secret_name') %></strong>
          <%= link_to comment.secret.name, secret_path(comment.secret) %>
        </p>

        <p>
          <strong><%= t('global.comment_body') %></strong>
          <%= comment.content %>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>This user hasn't commented on any secrets yet.</p>
<% end %>

<%= link_to 'Back to Home', root_path %>
