<div id="<%= dom_id adventure %>" style="border-style:solid">
  
  <p>
    <strong><%= t('global.user') %></strong>
    <%= adventure.user_id %>
  </p>

  <p>
    <strong><%= t('global.name') %></strong>
    <%= adventure.name %>
  </p>

  <p>
    <strong><%= t('global.body') %></strong>
    <%= adventure.body %>
  </p>

</div>
