<div id="<%= dom_id adventure %>">
  <p>
    <strong>Naam:</strong>
    <%= adventure.naam %>
  </p>

  <p>
    <strong>Beschrijving:</strong>
    <%= adventure.beschrijving %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= adventure.likes %>
  </p>

  <p>
    <strong>Amountofsecrets:</strong>
    <%= adventure.amountOfSecrets %>
  </p>

</div>
