<p style="color: green"><%= notice %></p>

<%= render @adventure %>

<div>
  <%= link_to t('adventures.edit-link'), edit_adventure_path(@adventure) %> |
  <%= link_to t('adventures.back-link'), adventures_path %>

  <%= button_to t('adventures.destroy-link'), @adventure, method: :delete %>
</div>
