<%= form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div class="error-messages">
      <h2><%= t('.messages.errors', count: secret.errors.count) %></h2>
      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= form.label :name, t('global.name'), class: 'form-label' %>
    <%= form.text_field :name, required: true, class: 'form-input' %>
  </div>

  
  <div class="form-group">
    <%= form.label :image, "Upload Image", class: 'form-label' %>
    <%= form.file_field :image, class: 'form-file' %>
  </div>


  <div class="form-group">
    <%= form.label :description, t('global.description'), class: 'form-label' %>
    <%= form.text_area :description, required: true, rows: 3, class: 'form-textarea' %>
  </div>

 
  <div class="form-group">
    <label class="form-label">Select Tags (optional):</label>
    <div class="tag-container">
      <% SecretTag::VALID_TAGS.each do |tag_name| %>
        <label class="tag-label" style="background-color: <%= case tag_name
          when 'architecture' then '#FF5733' # orange
          when 'street-art' then '#33B5FF'   # blue
          when 'landscape' then '#5BFF33'    # greeen
          when 'not-tagged' then '#AAAAAA'   # grey
          else '#CCCCCC'                     # lighter grey
        end %>;">
          <%= check_box_tag "secret[secret_tags_attributes][][name]", tag_name, secret.secret_tags.map(&:name).include?(tag_name), style: "display: none;" %>
          <%= tag_name.humanize %>
        </label>
      <% end %>
    </div>
  </div>

  
  <div class="form-group">
    <%= form.label :latitude, "Latitude", class: 'form-label' %>
    <%= form.text_field :latitude, id: "latitudeField", readonly: true, required: true, class: 'form-input' %>
  </div>

  
  <div class="form-group">
    <%= form.label :longitude, "Longitude", class: 'form-label' %>
    <%= form.text_field :longitude, id: "longitudeField", readonly: true, required: true, class: 'form-input' %>
  </div>

 
  <div class="form-group">
    <%= form.label :address, "Address", class: 'form-label' %>
    <%= form.text_field :address, id: "addressField", readonly: true, required: true, class: 'form-input' %>
  </div>

  <div class="form-actions">
    <%= form.submit t('.create'), class: 'submit-button' %>
  </div>
<% end %>
