<%= form_with(model: secret) do |form| %>
  <% if secret.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Name of secret:", style: "display: block" %>
    <%= form.text_field :name, id: "Name" %>
  </div>

  <!-- https://www.youtube.com/watch?v=nqAnftA8LbA -->
  <!-- https://www.youtube.com/watch?v=1cw6qO1EYGw -->

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_area :body , id:"Body" %>
  </div>
  
  <div>
    <%= form.submit%>
  </div>

<% end %>
