<div id="<%= dom_id(secret) %>" style="border-style:solid">

  <p>
    <strong><%= t('global.user') %></strong>
    <%= link_to User.find(secret.user_id).username, user_path(User.find(secret.user_id)) %>
  </p>

  <p>
    <strong><%= t('global.name') %></strong>
    <%= secret.name %>
  </p>

  <%= link_to image_tag(secret.image_as_thumbnail), secret.image if secret.image.attached? %>

  <p>
    <strong><%= t('global.body') %></strong>
    <%= secret.body %>
  </p>

</div>
