<%= stylesheet_link_tag 'secret_page', media: 'all' %>

<div id="<%= dom_id secret %>" class="secret-container">


  <div class="user-info">
    <strong><%= t('global.user') %>:</strong>
    <%= User.find(secret.user_id).email %>
  </div>


  <h1><%= secret.name %></h1>


  <div class="image-container">
    <% if secret.image.attached? %>
      <%= link_to image_tag(secret.image_as_thumbnail, alt: secret.name), secret.image %>
    <% else %>
      <div class="no-image">No image available</div>
    <% end %>
  </div>

  <div class="body">
    <strong><%= t('global.body') %>:</strong><br>
    <%= secret.body %>
  </div>

  <% if secret.secret_tags.any? %>
    <div class="tags-section">
      <strong>Tags:</strong>
      <div class="tags-list">
        <% secret.secret_tags.each do |tag| %>
          <span class="tag <%= tag.name.parameterize %>">
            <%= tag.name.humanize %>
          </span>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="no-tags">No tags available</p>
  <% end %>

</div>
