<div id="<%= dom_id secret %>" style="border-style:solid">

  <p>
    <strong><%= t :user %></strong>
    <%= User.find(secret.user_id).email %>
  </p>

  <p>
    <strong><%= t :name %></strong>
    <%= secret.name %>
  </p>

  <p>
    <img src="test.png" />
  </p>

  <p>
    <strong><%= t :body %></strong>
    <%= secret.body %>
  </p>

</div>
