<div id="<%= dom_id secret %>">

  <!--
  <p>
    <strong>User:</strong>
    <%= secret.user_id %>
  </p>
-->
  <p>
    <strong>Name:</strong>
    <%= secret.name %>
  </p>

  <p>
    <%= image_tag(secret.Pictures, class: "secret-pictures") %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= secret.body %>
  </p>

</div>
