<%= stylesheet_link_tag 'secret_page', media: 'all' %>

<div id="<%= dom_id secret %>" class="secret-container">

  <div class="user-details">
  <!--<strong><%= t('global.user') %></strong>-->
  <% @user = User.find(secret.user_id) %>

  <% if @user.profile_picture.attached? %>
    <%= link_to image_tag(@user.profile_picture), user_path(@user.id), method: :get, class: "user_profpic_in_secret user_profpic" %>
  <% else %>
    <%= link_to image_tag("empty-profile-picture.png"), user_path(@user.id), method: :get, class: "user_profpic_in_secret user_profpic" %>
  <% end %>

  <%= @user.username %>
</div>



  <h1><%= secret.name %></h1>
  <div id="address"><%= secret.address%></div>

  <div class="image-container">
    <% if secret.image.attached? %>
      <%= link_to image_tag(secret.image_as_thumbnail, alt: secret.name,class:"secretimg"), secret.image %>
    <% else %>
      <div class="no-image"><%= t('.no-image') %></div>
    <% end %>
  </div>

  <div class="body">
    <strong><%= t('global.body') %></strong><br>
    <%= secret.body %>
  </div>

  <% if secret.secret_tags.any? %>
    <div class="tags-section">
      <strong><%= t('.tags') %></strong>
      <div class="tags-list">
        <% secret.secret_tags.each do |tag| %>
          <span class="tag <%= tag.name.parameterize %>">
            <%= tag.name.humanize %>
          </span>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="no-tags"><%= t('.no-tags') %></p>
  <% end %>

</div>
