<%= render @secret %>

<div>
  <%= if @permission then link_to t('secrets.edit-link'), edit_secret_path(@secret) end %>
  <%= link_to t('secrets.back-link'), secrets_path %>

  <%= if @permission then button_to t('secrets.destroy-link') , @secret, method: :delete end %>
</div>

<% if @secret.comments.any? %>
  <h3>Comments</h3>
  <% @secret.comments.each do |comment| %>
    <div>

      <% if comment.user.profile_picture.attached? %>
        <%= link_to image_tag(comment.user.profile_picture), edit_user_registration_path, method: :get  %>
      <% else %>
        <%= link_to image_tag("/empty-profile-picture.png"), edit_user_registration_path, method: :get  %>
      <% end %>

      <p><strong><%= comment.user.email %>:</strong> <%= comment.content %>
        <% if comment.edited %>
          <em> (edited)</em>
        <% end %></p>
      <p><em>Posted on <%= comment.created_at.strftime('%B %d, %Y at %I:%M %p') %></em></p>

      <% if comment.user == current_user %>
        <div class="comment-actions">
          <%= link_to 'Edit', edit_secret_comment_path(@secret, comment), class: "btn btn-link" %>
          <%= button_to 'Delete', secret_comment_path(@secret, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: "btn btn-link" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No comments yet. Be the first to comment!</p>
<% end %>

<h3>Add a New Comment</h3>
<%= form_with(model: [@secret, Comment.new], local: true) do |form| %>
  <div>
    <%= form.label :content, 'Your Comment' %>
    <%= form.text_area :content, rows: 3 %>
  </div>
  <div>
    <%= form.submit 'Post Comment' %>
  </div>
<% end %>
