<p style="color: green"><%= notice %></p>

<%= render @secret %>

<div>
  <%= if @permission then link_to "Edit this secret", edit_secret_path(@secret) end %>
  <%= link_to "Back to secrets", secrets_path %>

  <%= if @permission then button_to "Destroy this secret" , @secret, method: :delete end %>
</div>
